<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/blog.css">
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <header>
            <nav class="teal accent-3">
                <div class="nav-wrapper">
                    <center><a href="#" class="brand-logo">Todo List</a></center>
                    <ul class="left">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="admin.html">Admin</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h1 class="center-align">My Todo List</h1>
                </div>
                <div class="row">
                    <div class="col s12 main-container">
                        
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer lime accent-2">
            <div class="container ">
               
            </div>
            <div class="footer-copyright deep-orange accent-3">
                <div class="container">
                    @2016 Zambz
                </div>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/blog.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      
      <script id="blogs-template" type="text/x-handlebars-template">
          {{#each posts}}
            <div class="blog-post">
                <h2 class="blog-post-title">{{title}}</h2>
                <p class="blog-post-meta">At {{format created}} by {{authorEmail}}</p>
                <div>{{{content}}}</div>
        <button class="btn btn-large waves-effect waves-light darken-1 blue white-out-post"> Check as complete</button>
        <button class="btn btn-large waves-effect waves-light darken-1 blue delete-post"><a href="index.html" class="white-text">Delete</a></button>
            </div>
          {{/each}}
      </script>
      <script id="check-done-template" type="text/x-handlebars-template">
              <div class="black-text">
              <h4 class="blog-post meta italic">This todo list has been checked</h4>
              <button class="btn btn-small waves-effect waves-light white-in-post orange"><a href="index.html"> uncheck</a><button>
              <button class="btn btn-small waves-effect waves-light white-in-post orange"> Log in </button>
      </div>
      </script>
    </body> 
  </html>